---
import Card from './Card.astro';

import type { Props as CardProps } from './Card.astro';

type Props = {
  cards: CardProps[];
};

const { cards } = Astro.props;
---

<div class="flex w-full justify-between gap-4 mt-4">
  {cards.map(card => <Card {...card} />)}
</div>
